.new-feeds-section {
  .new-first {
    &-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  .new-feeds-item {
    padding: 5px 10px;

    &-first {
      font-weight: bold;
      font-size: 110%;
    }
    &:not(:last-child) {
      border-bottom: solid 1px gray;
    }
  }

  .question-populate {
    padding: 10px 0;
  }
  .new-feed {
    .nav-tabs .nav-link {
      border: none !important;
    }
    &-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  .nav-tabs {
    border-bottom: none !important;
  }
  .nav-tabs .nav-link {
    border: none !important;
    padding: 0.5rem 1rem 0.5rem 0rem;
    &.active {
      font-weight: bold !important;
      font-size: 160% !important;
      transform: translateY(-20%);
    }
  }
  p.des {
    margin-bottom: 0 !important;
  }
  a.new-feed-name {
    color: #302e2e;
  }
  #nav-tabContent-bhnt {
    .new-feed-item-img {
      img {
        width: 200px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
  #nav-tabContent-bhxh {
    .new-feed-item-img {
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
    .card-body {
      padding: 0 0 0 1.25rem;

      p.card-text {
        margin-bottom: 0;
      }
    }
    .card-title {
      margin-bottom: 0;
    }
    .list-group-item {
      border: none;
      padding: 0.75rem 0rem;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }
  #nav-tabContent-bhyt {
    .list-group-item {
      border: none;
      padding: 0.75rem 0rem;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }
}
