.goi-bao-hiem {
  .new-first {
    img.new-feed-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  .new-first-right {
    img.new-feed-img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  .news-second-sec {
    .new-feed-item-img {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
    .list-group-item {
      padding-left: 0;
    }
  }
}
.border-r {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
